tr.lignepaire {
background-color: #c2bfff;
}
tr.ligneimpaire {
background-color: #bdffbd;
}

a { 
	text-decoration: none; 
	color: #0014ae;
}
a:hover { background-color: #ffe1e1; }

#user {
	display: inline;
}

.admin_menu {
	display: inline;
}

.cache {
	color: gray;
}
.visible {
	color: black;
}

.newsForm input {
	border: 0px;
	background-color: #d7d7d7;
}

.newsForm input:hover {
	background-color: #bdffbd;
}

.newsForm textarea {
	border: 0px;
	background-color: #d7d7d7;
	width: 100%;
}

.newsForm textarea:hover {
	background-color: #bdffbd;
}

.newsForm table {
	width: 100%;
	border: solid 1px red;
	margin-bottom: 1em;
}
