/*
 * Feuille de style pour la partie réservation information
 */

/* Les champs obligatoires ! */
.obligatoire { color: red; background: #e1ffd1 }

/* L'adresse */
.nomAddr { font-size: 16px; font-weight: bold; background: #bf3737; text-align: center; color: white }
.rueAddr { font-size: 14px; font-weight: bold; background: #dd2121; text-align: center; }
.telAddr { font-size: 14px; background: #f76f6f; text-align: center; }
.mailAddr { font-size: 14px; background: #ffa8a8; text-align: center; }


.infoGite {font-weight: bold}

.descChambre {}
/*
.nomChambre {background: #b3efaa}
*/
h1 {color: #175e0c; text-decoration: underline}
h2 {color: #8c0000; text-decoration: underline}

